#head-1 {
  color: purple;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: antiquewhite;
}

h2 {
  color: seagreen;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 50%;
}

.intro {
  background-color: lightcoral;
  width: 60%;
}