#head-1 {
  color: purple;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: antiquewhite;
}

body {
  background-color: yellow;
}

h2 {
  color: seagreen;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 50%;
}

.intro {
  background-color: lightcoral;
  width: 60%;
}

#buttonLight {
  border: none;
  color: goldenrod;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#buttonDark {
  border: none;
  color: navy;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}